:host {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: 50% 90% !important;
  background-repeat: no-repeat;
}

md-card {
  text-align:center;
  animation: fadein 1s;
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */

  width:85%;
  max-width:350px;
}

md-input-container {
  display:block;
  margin: 30px 0 30px 0;
}

md-spinner {
  width:25px;
  height:25px;
  margin:20px auto 0 auto;
}

button {
  display:block;
  width:100%;
  margin:5px;
}

.error {
  color:red;
  font-weight: bold;
}

